/* BUTTON */
button {
  background-color: #f4ce14;
  width: 200px;
  height: 70px;
  border-radius: 12px;
  font-family: "Karla";
  font-size: 18px;
  font-weight: 600;
}

/* HERO SECTION */
.heroSection {
  background-color: #495e57;
  display: flex;
}

.heroSection .textContent {
  display: flex;
  flex-direction: column; /* Align the text in a column */
  max-width: 50%; /* Limits the width of the text section */
}

.buttonReservation {
  margin: auto 0 1rem 1rem;
  align-self: flex-start;
}

.heroSection h2,
h3 {
  font-family: "Markazi Text";
}

.heroSection h3,
p {
  color: #ffffff;
}

.heroSection h2 {
  color: #f4ce14;
  font-size: 64px;
  font-weight: bold;
  margin: 1rem 0 0 1.5rem;
}

.heroSection h3 {
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 0 1.5rem;
}

.heroSection p {
  font-family: "Karla";
  font-size: 18px;
  font-weight: 500;
  margin: 1rem 0 0 1.5rem;
}

.heroSection aside {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.heroSection #restaurantFood {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
}

/* HIGHLIGHTS */

.highlights {
  background-color: #d9d9d9;
  max-width: 100%;
  max-height: 100%;
  padding: 0 0 5rem 0;
}

.highlights .textContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 0 5rem;
}

.highlights .textContent h2 {
  font-family: "Karla";
  font-size: 64px;
  font-weight: 600;
}

.buttonMenu {
  margin-left: auto;
  margin-right: 5rem;
}

.highlightCards {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin: 5rem 10rem 0 10rem;
}

.greekSaladCard,
.bruschettaCard,
.lemonDessertCard {
  background-color: #edefee;
  margin: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.highlightCardImage {
  width: auto;
  height: auto;
}

#greekSalad,
#bruschetta,
#lemonDessert {
  width: 20rem;
  height: 15rem;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0.5rem;
}

.menuName {
  font-family: "Karla";
  font-size: 20px;
  font-weight: 800;
}

.menuPrice {
  color: #ff8102;
  font-family: "Karla";
  font-size: 20px;
  font-weight: medium;
  margin-left: auto;
}

.cardDescription {
  padding: 0rem 1rem;
  font-family: "Karla";
  font-size: 16px;
  font-weight: normal;
}

.cardOrderInformation {
  display: flex;
  flex-direction: row;
  padding: 3rem 0 1rem 1rem;
}

.cardOrderInformation p {
  font-family: "Karla";
  font-size: 16;
  font-weight: 600;
  align-self: center;
}

#transferMotorcycle {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  margin-left: auto;
  margin-right: 1rem;
}

/* TESTIMONIALS */
.testimonials {
  background-color: #495e57;
  margin: 0;
}

.testimonials img {
  width: 8rem;
  height: auto;
}

#rating {
  width: 1.5rem;
  height: 1.5rem;
}
/* ABOUT */
.about {
  background-color: #d9d9d9;
  margin: 0;
}

.about img {
  width: 30rem;
  height: auto;
}

.highlights,
.testimonials,
.about,
p {
  color: black;
}
