/* HERO SECTION */
.heroSection {
  background-color: #495e57;
  display: flex;
}

.heroSection .textContent {
  display: flex;
  flex-direction: column; /* Align the text in a column */
  max-width: 50%; /* Limits the width of the text section */
}

.heroSection .textContent button {
  margin: auto 0 1rem 1rem;
}

.heroSection h2,
h3 {
  font-family: "Markazi Text";
}

.heroSection h3,
p {
  color: #ffffff;
}

.heroSection h2 {
  color: #f4ce14;
  font-size: 64px;
  font-weight: bold;
  margin: 1rem 0 0 1.5rem;
}

.heroSection h3 {
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 0 1.5rem;
}

.heroSection p {
  font-family: "Karla";
  font-size: 18px;
  font-weight: 500;
  margin: 1rem 0 0 1.5rem;
}

.heroSection aside {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.heroSection #restaurantFood {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
}

/* HIGHLIGHTS */

.highlights {
  background-color: #d9d9d9;
  margin: 0;
}

.highlights .textContent {
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: row;
}

.highlights .highlightCards {
  margin: 0 0 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.highlights,
.testimonials,
.about,
p {
  color: black;
}

/* TESTIMONIALS */
.testimonials {
  background-color: #495e57;
  margin: 0;
}

.testimonials img {
  width: 8rem;
  height: auto;
}

/* ABOUT */
.about {
  background-color: #d9d9d9;
  margin: 0;
}

.about img {
  width: 30rem;
  height: auto;
}

/* BUTTON */
button {
  background-color: #f4ce14;
  width: 200px;
  height: 70px;
  border-radius: 12px;
  font-family: "Karla";
  font-size: 18px;
  font-weight: 600;
  align-self: flex-start;
}
