#root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 50px 550px 900px 500px 650px 200px; */
  grid-template-rows: 0.25fr 1.5fr 3fr 2fr 2fr 0.5fr;
  margin: 0 80px;
  column-gap: 20px;
  background-color: #fbdab6;
}

@media (max-width: 600px) {
  /* Small tablets */
  #root {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    column-gap: 20px;
    grid-template-rows: 0.25fr 1.5fr 3fr 2fr 2fr 0.25fr;
  }
}

@media (min-width: 601px) and (max-width: 1178px) {
  /* Small tablets */
  #root {
    grid-template-columns: repeat(6, 1fr);
    margin: 0;
    column-gap: 20px;
    grid-template-rows: 0.1fr 1.5fr 3fr 2fr 2fr 0.25fr;
  }

  @media (max-width: 1024px) {
    /* Small tablets */
    #root {
      grid-template-columns: repeat(6, 1fr);
      margin: 0;
      column-gap: 20px;
      grid-template-rows: 0.1fr 1.5fr 3fr 2fr 2fr 0.25fr;
    }
  }
}
